name: Build and deploy to stage

on:
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches: [feat/add-ci-cd]

jobs:
  build-backend:
    name: Build backend
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
    - run: echo "Hello from build job!"

  deploy-stage:
    name: Deploy to stage
    needs: build-backend
    if: success() && ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
    - run: echo "Hello from deploy job!"
