name: Build for prod

on:
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches: [feat/add-ci-cd]

jobs:
  build-backend:
    name: Build backend
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
    - run: echo "Hello from build job!"
