name: CI/CD for Balanse Plus

on:
  push:
    branches: [feat/add-ci-cd]
  workflow_dispatch:

jobs:
  lint-backend:
    name: Lint backend
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - run: echo "Hello from lint-backend job!"
    - run: exit 1
      continue-on-error: true
    - name: Get info
      run: |
        ls
        pwd
        whoami

  lint-frontend:
    name: Lint frontend
    runs-on: ubuntu-latest

    steps:
    - run: echo "Hello from lint-frontend job!"
      continue-on-error: true

  test-backend:
    name: Test backend
    runs-on: ubuntu-latest

    steps:
    - run: echo "Hello from test-backend job!"
    - name: Get info
      run: |
        ls
        pwd
        whoami

  build-stage:
    name: Build backend for stage
    needs: test-backend
    runs-on: self-hosted

    steps:
    - run: echo "Hello from build-stage job!"

  build-prod:
    name: Build backend for prod
    needs: test-backend
    runs-on: self-hosted

    steps:
    - run: echo "Hello from build-prod job!"

  deploy-stage:
    name: Deploy to stage
    needs: [test-backend, build-stage]
    environment: staging
    runs-on: self-hosted

    steps:
    - run: echo "Hello from deploy-stage job!"

  deploy-prod:
    name: Deploy to prod
    needs: [test-backend, build-prod, deploy-stage]
    environment: production
    runs-on: self-hosted

    steps:
    - run: echo "Hello from deploy-prod job!"
