name: CI/CD for Balanse Plus

on:
  push:
    branches: [feat/add-ci-cd]
  workflow_dispatch:

jobs:
  lint-backend:
    name: Lint backend
    runs-on: self-hosted
    container:
      image: ubuntu:24.04

    steps:
    - run: echo "Hello from lint-backend job!"
    - run: exit 1
      continue-on-error: true
    - name: Get info
      run: |
        ls
        pwd
        whoami

  test-backend:
    name: Test backend
    needs: lint-backend
    runs-on: self-hosted

    steps:
    - run: echo "Hello from test-backend job!"

  build-backend-stage:
    name: Build backend for stage
    needs: test-backend
    runs-on: self-hosted

    steps:
    - run: echo "Hello from build-backend-stage job!"

  build-backend-prod:
    name: Build backend for prod
    needs: test-backend
    runs-on: self-hosted

    steps:
    - run: echo "Hello from build-backend-prod job!"

  deploy-stage:
    name: Deploy to stage
    needs: [test-backend, build-backend-stage]
    environment: staging
    runs-on: self-hosted

    steps:
    - run: echo "Hello from deploy-stage job!"

  deploy-prod:
    name: Deploy to prod
    needs: [test-backend, build-backend-prod, deploy-stage]
    environment: production
    runs-on: self-hosted

    steps:
    - run: echo "Hello from deploy-prod job!"
