name: CI/CD for Balanse Plus

on:
  push:
    branches: [feat/add-ci-cd]
  workflow_dispatch:

jobs:
  lint-backend:
    name: Lint backend
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from lint-backend job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/balance-orchestrator/backend
      run: poetry install

    - name: Run backend lints
      working-directory: services/balance-orchestrator/backend
      run: poetry run flake8
      continue-on-error: true

  lint-frontend:
    name: Lint frontend
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-node@v6
      with:
        node-version: 24

    - name: Greeting
      run: echo "Hello from lint-frontend job!"

    - name: Installing dependencies
      run: npm ci --prefix services/balance-orchestrator/frontend

    - name: Running lints for frontend
      run: npm run lint --prefix services/balance-orchestrator/frontend
      continue-on-error: true

  test-backend:
    name: Test backend
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from test-backend job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/balance-orchestrator/backend
      run: poetry install

    - name: Run backend tests
      working-directory: services/balance-orchestrator/backend
      run: poetry run pytest ../../../tests/

  build-stage:
    name: Build for stage
    needs: test-backend
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6

    - name: Greeting
      run: echo "Hello from build-stage job!"

  build-prod:
    name: Build for prod
    needs: test-backend
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6

    - name: Greeting
      run: echo "Hello from build-prod job!"

  deploy-stage:
    name: Deploy to stage
    needs: [test-backend, build-stage]
    environment: staging
    runs-on: self-hosted

    steps:
    - name: Greeting
      run: echo "Hello from deploy-stage job!"

  deploy-prod:
    name: Deploy to prod
    needs: [test-backend, build-prod, deploy-stage]
    environment: production
    runs-on: self-hosted

    steps:
    - name: Greeting
      run: echo "Hello from deploy-prod job!"
