name: CI/CD for Balanse Plus

on:
  push:
    branches: [feat/add-ci-cd]
  workflow_dispatch:

jobs:
  lint-backend-balance:
    name: Lint the backend balance
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from lint-backend-balance job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/balance-orchestrator/backend
      run: poetry install

    - name: Run backend lints
      working-directory: services/balance-orchestrator/backend
      run: poetry run ruff check .
      continue-on-error: true

  lint-backend-condenser:
    name: Lint the backend condenser
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from lint-backend-condenser job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/condenser-calculator/backend
      run: poetry install

    - name: Run backend lints
      working-directory: services/condenser-calculator/backend
      run: poetry run ruff check .
      continue-on-error: true

  lint-backend-valve:
    name: Lint the backend valve
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from lint-backend-valve job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/valve-stems/backend
      run: poetry install

    - name: Run backend lints
      working-directory: services/valve-stems/backend
      run: poetry run ruff check .
      continue-on-error: true

  test-backend-balance:
    name: Test the backend balance
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from test-backend-balance job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/balance-orchestrator/backend
      run: poetry install

    - name: Run backend tests
      working-directory: services/balance-orchestrator/backend
      run: poetry run pytest

  test-backend-condenser:
    name: Test the backend condenser
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from test-backend-condenser job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/condenser-calculator/backend
      run: poetry install

    - name: Run backend tests
      working-directory: services/condenser-calculator/backend
      run: poetry run pytest

  test-backend-valve:
    name: Test the backend valve
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from test-backend-valve job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/valve-stems/backend
      run: poetry install

    - name: Run backend tests
      working-directory: services/valve-stems/backend
      run: poetry run pytest

  build-stage-balance:
    name: Build balance service for stage
    needs: test-backend-balance
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main

    - name: Greeting
      run: echo "Hello from build-stage-balance job!"

  build-stage-condenser:
    name: Build condenser service for stage
    needs: test-backend-condenser
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main

    - name: Greeting
      run: echo "Hello from build-stage-condenser job!"

  build-stage-valve:
    name: Build valve service for stage
    needs: test-backend-valve
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main

    - name: Greeting
      run: echo "Hello from build-stage-valve job!"

  build-stage-frontend:
    name: Build frontend for stage
    needs: [build-stage-balance, build-stage-condenser, build-stage-valve]
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main

    - name: Greeting
      run: echo "Hello from build-stage-frontend job!"

  build-prod-balance:
    name: Build balance service for prod
    needs: build-stage-balance
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main

    - name: Greeting
      run: echo "Hello from build-prod-balance job!"

  build-prod-condenser:
    name: Build condenser service for prod
    needs: build-stage-condenser
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main

    - name: Greeting
      run: echo "Hello from build-prod-condenser job!"

  build-prod-valve:
    name: Build valve service for prod
    needs: build-stage-valve
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main

    - name: Greeting
      run: echo "Hello from build-prod-valve job!"

  build-prod-frontend:
    name: Build frontend for prod
    needs: [build-prod-balance, build-prod-condenser, build-prod-valve]
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main

    - name: Greeting
      run: echo "Hello from build-prod-frontend job!"

  deploy-stage:
    name: Deploy to stage
    needs: build-stage-frontend
    environment: staging
    runs-on: self-hosted

    steps:
    - name: Greeting
      run: echo "Hello from deploy-stage job!"

  end-to-end-test:
    name: End to end test
    needs: [build-prod-frontend, deploy-stage]
    runs-on: ubuntu-latest

    steps:
      - name: Greeting
        run: echo "Hello from end-to-end-test job!"

  deploy-prod:
    name: Deploy to prod
    needs: end-to-end-test
    environment: production
    runs-on: self-hosted

    steps:
    - name: Greeting
      run: echo "Hello from deploy-prod job!"
