name: CI/CD for Balanse Plus

on:
  push:
    branches: [feat/add-ci-cd]
  workflow_dispatch:

jobs:
  lint-backend-balance:
    name: Lint the backend balance
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from lint-backend-balance job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/balance-orchestrator/backend
      run: poetry install

    - name: Run backend lints
      working-directory: services/balance-orchestrator/backend
      run: poetry run ruff check .
      continue-on-error: true

  lint-backend-condenser:
    name: Lint the backend condenser
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from lint-backend-condenser job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/condenser-calculator/backend
      run: poetry install

    - name: Run backend lints
      working-directory: services/condenser-calculator/backend
      run: poetry run ruff check .
      continue-on-error: true

  test-backend-balance:
    name: Test the backend balance
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from test-backend-balance job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/balance-orchestrator/backend
      run: poetry install

    - name: Run backend tests
      working-directory: services/balance-orchestrator/backend
      run: poetry run pytest

  test-backend-condenser:
    name: Test the backend condenser
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        ref: main
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Greeting
      run: echo "Hello from test-backend-condenser job!"

    - name: Install poetry
      run: pip install poetry

    - name: Install backend dependencies
      working-directory: services/condenser-calculator/backend
      run: poetry install

    - name: Run backend tests
      working-directory: services/condenser-calculator/backend
      run: poetry run pytest

  build-stage:
    name: Build for stage
    needs: test-backend
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6

    - name: Greeting
      run: echo "Hello from build-stage job!"

  build-prod:
    name: Build for prod
    needs: test-backend
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6

    - name: Greeting
      run: echo "Hello from build-prod job!"

  deploy-stage:
    name: Deploy to stage
    needs: [test-backend, build-stage]
    environment: staging
    runs-on: self-hosted

    steps:
    - name: Greeting
      run: echo "Hello from deploy-stage job!"

  deploy-prod:
    name: Deploy to prod
    needs: [test-backend, build-prod, deploy-stage]
    environment: production
    runs-on: self-hosted

    steps:
    - name: Greeting
      run: echo "Hello from deploy-prod job!"
