GITLAB_URL=http://git.utz.local
# Заменить на действующий gitlab токен в реальном .env
GITLAB_PRIVATE_TOKEN=
GITLAB_PROJECT_ID=41
# false чтобы работать на локальном Gitlab
GITLAB_SSL_VERIFY=false
GITLAB_TIMEOUT=10

# Authentication Service (reachable through the shared Docker network)
AUTH_SERVICE_URL=http://authentication-service:8000
AUTH_SERVICE_TIMEOUT=5
ALLOWED_ORIGINS=http://localhost:3000
