GITLAB_URL=http://git.utz.local
# Заменить на действующий gitlab токен в реальном .env
GITLAB_PRIVATE_TOKEN=
GITLAB_PROJECT_ID=41
# false чтобы работать на локальном Gitlab
GITLAB_SSL_VERIFY=false
GITLAB_TIMEOUT=10
